# Memory Bank
memory-bank/

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Dependency directories
node_modules/
vendor/

# Environment files
.env
.env.*
!.env.example

# venv
env/
__pycache__/
